
.containerone{
    background-color: #1f2937;
    color: #f9faf8;
    display: block;
}


..containertwo{
    display: flex;
    flex: 1;
    border-color: blue;
}
.information h2{
    font-size: 36px;
    font-weight: 800;
    display: block;

}

.containerthree{
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;

}

.containerfour{
    background: #3882f6;
    padding: 16px;
    height: 40px;
    width: 800px;
    display: flex;
}

